.board {
  position: relative;
  text-align: center;
  padding: 15px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.board .column {
  padding: 0 5px;
  width: 20%;
}
.board .column .item {
  border-radius: 0 0 10px 0;
  height: 60px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  color: #333;
  border: 1px solid #000;
}
.board .column .item:last-child {
  margin-bottom: 0;
}
.board .column .item span {
  background-color: #FFF;
}